<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Redis value: {{redis_val}}</p>

<input type="text" value="" id="redis-value"> <button class="btn btn-default" id="btn-change-value">Set Value</button>