<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Redis value: {{redis_val}}</p>
<p>Current user:{{username}}</p> <a href="/auth/login">Login</a><br/>
<input type="text" value="" id="redis-value"> <button class="btn btn-default" id="btn-change-value">Set Value</button>

<hr>